/* body{
    padding: 0;
    margin: 0;
    background-color: black;
}
h1{
    color: white;
    text-align: center;
}
main{
    padding-top: 30px;
    margin: auto    ;
    width: 30%;
}
main img{
    width: 100%;
} */
