body{
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
}
nav ul{
    display: flex;
    justify-content: space-between;
    width: 40%;
}
.logo{
    font-size: 2em;
    padding-left: 10px;
}
header ul{
    padding-right: 10px;
    font-size: 1.4em;
}
main{
    padding-top: 50px;
    width: 70%;
    margin: auto;
    font-size: 2em;
}
#def{
    text-align: right;
    padding-right: 30px;
}
