body {
  font-size: 1.4em;

li a{
    list-style-type: none;

}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
}
nav ul{
    display: flex;
    justify-content: space-between;
    width: 40%;
    font-size: 1.4em;
    position: absolute;
    left: 50%;
}
.logo{
    font-size: 2em;
    padding-left: 10px;
}
header ul{
    padding-right: 10px;
    font-size: 1.4em;
}
  background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Flag_of_the_People%27s_Republic_of_China.svg/383px-Flag_of_the_People%27s_Republic_of_China.svg.png');
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover ;
  text-align: left; background-color: red; color:black
}