body{
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
}
li{
    list-style-type: none;
}
header ul{
    padding-right: 10px;
    font-size: 1.4em;
}
.logo{
    font-size: 2em;
    padding-left: 10px;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
}
nav ul{
    display: flex;
    justify-content: space-between;
    width: 40%;
}

