h1{
    text-align: center;
    color: black;
    font-size: 4em;
    background: linear-gradient(to right, blue 0%, blue 33%, white 33%, white 66%, red 66%, red 100%);
}
.responsive{
        padding: 3%;
        width: 35%;
        height: auto;
        position: absolute; 
        left: 29%; 
        top: 200px; 

    }

h2{
    text-align: center;
    color: white;
    font-size: 2em;
    /* margin-right: 24cm; */
    text-decoration: underline;
}
p{    
    /* text-align: left; */
    color: rgb(255, 255, 255);
    font-size: 30px;
    margin-top: 5%;
    /* margin-left: 1cm; */
}
body{
    background-color: black;
    color: white;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
li a{
    list-style-type: none;

}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
}
nav ul{
    display: flex;
    justify-content: space-between;
    width: 40%;
    font-size: 1.4em;
    position: absolute;
    left: 50%;
}
.logo{
    font-size: 2em;
    padding-left: 10px;
}
header ul{
    padding-right: 10px;
    font-size: 1.4em;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

main {
    display: flex;
    align-items: center;
    padding: 20px;
}

.video {
    max-width: 100%;
    margin-left: 20px;
}
.text {
    position: absolute;
    margin-left: 600px;
    margin-right: 30px;
    margin-top: -260px;
}
.text1 {
    position: absolute;
    margin-left: 600px;
    margin-right: 30px;
    margin-top: -230px;
}
.text2 {
    position: absolute;
    margin-left: 600px;
    margin-right: 30px;
    margin-top: -230px;
}
.text3 {
    position: absolute;
    margin-left: 600px;
    margin-right: 30px;
    margin-top: -230px;
}
.text4 {
    position: absolute;
    margin-left: 600px;
    margin-right: 30px;
    margin-top: -230px;
}